In [ ]:
#Referensi: https://www.linkedin.com/pulse/how-scrape-google-play-reviews-4-simple-steps-using-python-kundi/

!pip install google-play-scraper

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting google-play-scraper
  Downloading google_play_scraper-1.2.2-py3-none-any.whl (28 kB)
Installing collected packages: google-play-scraper
Successfully installed google-play-scraper-1.2.2

In [ ]:
from google_play_scraper import app

import pandas as pd

import numpy as np

In [ ]:
# Scrape All available reviews
#(DONT RUN THIS CELL!!! RUN ONLY IF YOU WANT TO SCRAPE ALL AVAILABLE REVIEWS)
#JANGAN DI RUN KODE INI, KECUALI ANDA INGIN SCRAPE SEMUA REVIEWS SEKALIGUS

from google_play_scraper import Sort, reviews_all

result = reviews_all(
    'com.bukalapak.android',
    sleep_milliseconds=0, # defaults to 0
    lang='id', # defaults to 'en'
    country='id', # defaults to 'us'
    sort=Sort.NEWEST, # defaults to Sort.MOST_RELEVANT , you can use Sort.NEWEST to get newst reviews
)

In [ ]:
#Scrape desired number of reviews
#Run kode ini jika ingin scrape data dengan jumlah tertentu. Ganti (misal, ingin scrape sejumlah 1000, maka ganti kode , count = 1000 )

from google_play_scraper import Sort, reviews

result, continuation_token = reviews(
    'id.tix.android',
    lang='id', # defaults to 'en'
    country='id', # defaults to 'us'
    sort=Sort.MOST_RELEVANT, # defaults to Sort.MOST_RELEVANT you can use Sort.NEWEST to get newst reviews
    count=1000, # defaults to 100
    filter_score_with=None # defaults to None(means all score) Use 1 or 2 or 3 or 4 or 5 to select certain score
)

In [ ]:
df_busu = pd.DataFrame(np.array(result),columns=['review'])

df_busu = df_busu.join(pd.DataFrame(df_busu.pop('review').tolist()))

df_busu.head()

,reviewId,userName,userImage,content,score,thumbsUpCount,reviewCreatedVersion,at,replyContent,repliedAt
0,9d2d08b0-e044-4a8b-b458-1942760512f6,hay day,https://play-lh.googleusercontent.com/a/AEdFTp...,"gamenya seru, grafis mantap, dan bisa co op. t...",5,55,3.4.0_12498014_12591909,2023-01-26 21:29:36,None,NaT
1,204fde2e-8941-4efc-b815-450cf28976aa,SCP 001 Gaming,https://play-lh.googleusercontent.com/a/AEdFTp...,Bagus & seru banget sih gamenya yah hampir sem...,5,439,3.4.0_12498014_12591909,2023-01-18 00:12:42,None,NaT
2,069be74c-d24a-4e3c-b1c4-c9cb4ac04311,INSTRIC GI,https://play-lh.googleusercontent.com/a-/AD5-W...,Untuk story dan desain karakter sudah bagus. N...,5,356,3.4.0_12498014_12591909,2023-01-18 01:40:41,None,NaT
3,cd1fc9d4-b27d-436a-95b8-1ab55b90a2f2,Yhordan,https://play-lh.googleusercontent.com/a-/AD5-W...,penilaian saya meliputi : kelebihan : 1. grafi...,4,306,3.3.0_11741873_11806263,2023-01-08 07:28:35,None,NaT
4,5d957a69-0650-45b3-8ac7-8fef671a007a,QODIM TANDI LANGIT,https://play-lh.googleusercontent.com/a-/AD5-W...,"Gamenya sangat bagus mulai dari grafiknya, per...",5,208,3.3.0_11741873_11806263,2023-01-08 04:55:46,None,NaT

In [ ]:
len(df_busu.index) #count the number of data we got

100

In [ ]:
df_busu[['userName', 'score','at', 'content']].head()  #preview userName, rating, date-time, and reviews only

,userName,score,at,content
0,hay day,5,2023-01-26 21:29:36,"gamenya seru, grafis mantap, dan bisa co op. t..."
1,SCP 001 Gaming,5,2023-01-18 00:12:42,Bagus & seru banget sih gamenya yah hampir sem...
2,INSTRIC GI,5,2023-01-18 01:40:41,Untuk story dan desain karakter sudah bagus. N...
3,Yhordan,4,2023-01-08 07:28:35,penilaian saya meliputi : kelebihan : 1. grafi...
4,QODIM TANDI LANGIT,5,2023-01-08 04:55:46,"Gamenya sangat bagus mulai dari grafiknya, per..."

In [ ]:
#Run This Code to Sort the Data By Date

new_df = df_busu[['userName', 'score','at', 'content']]
sorted_df = new_df.sort_values(by='at', ascending=False) #Sort by Newst, change to True if you want to sort by Oldest.
sorted_df.head()

,userName,score,at,content
64,Siti Fatimah,3,2023-01-28 00:25:05,Dari segi grafik gamenya bagus sangat unik ðŸ˜„ t...
93,Muhammad Khaidar,5,2023-01-27 13:50:04,"Semuanya bagus dari segi story,char,desain map..."
0,hay day,5,2023-01-26 21:29:36,"gamenya seru, grafis mantap, dan bisa co op. t..."
58,I Kadek Desta Saputra,4,2023-01-26 13:31:30,"Game nya bagus dari segi story nya, game play ..."
83,Alya Namira,1,2023-01-26 12:41:17,Ini saya ada bug gitu jadi gabisa buka gamenya...

In [ ]:
my_df = sorted_df[['userName', 'score','at', 'content']] #get userName, rating, date-time, and reviews only

In [ ]:
my_df.head()

,userName,score,at,content
64,Siti Fatimah,3,2023-01-28 00:25:05,Dari segi grafik gamenya bagus sangat unik ðŸ˜„ t...
93,Muhammad Khaidar,5,2023-01-27 13:50:04,"Semuanya bagus dari segi story,char,desain map..."
0,hay day,5,2023-01-26 21:29:36,"gamenya seru, grafis mantap, dan bisa co op. t..."
58,I Kadek Desta Saputra,4,2023-01-26 13:31:30,"Game nya bagus dari segi story nya, game play ..."
83,Alya Namira,1,2023-01-26 12:41:17,Ini saya ada bug gitu jadi gabisa buka gamenya...

In [ ]:
my_df.to_csv("scrapped_data.csv", index = False)  #Save the file as CSV , to download: click the folder icon on the left. the csv file should be there.